<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <!-- اسم التطبيق -->
    <key>CFBundleDisplayName</key>
    <string>My Project</string>

    <!-- معرف الحزمة -->
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>

    <!-- نسخة التطبيق -->
    <key>CFBundleShortVersionString</key>
    <string>$(FLUTTER_BUILD_NAME)</string>

    <!-- رقم البناء -->
    <key>CFBundleVersion</key>
    <string>$(FLUTTER_BUILD_NUMBER)</string>

    <!-- دعم iPhone OS -->
    <key>LSRequiresIPhoneOS</key>
    <true/>

    <!-- اسم شاشة البداية -->
    <key>UILaunchStoryboardName</key>
    <string>LaunchScreen</string>

    <!-- اسم Main Storyboard -->
    <key>UIMainStoryboardFile</key>
    <string>Main</string>

    <!-- اتجاهات الشاشة المدعومة -->
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <key>UISupportedInterfaceOrientations~ipad</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
        <string>UIInterfaceOrientationPortraitUpsideDown</string>
        <string>UIInterfaceOrientationLandscapeLeft</string>
        <string>UIInterfaceOrientationLandscapeRight</string>
    </array>

    <!-- تعطيل الحد الأدنى لفريم الشاشة على iPhone -->
    <key>CADisableMinimumFrameDurationOnPhone</key>
    <true/>

    <!-- دعم الأحداث الغير مباشرة -->
    <key>UIApplicationSupportsIndirectInputEvents</key>
    <true/>

    <!-- لغة التطوير -->
    <key>CFBundleDevelopmentRegion</key>
    <string>$(DEVELOPMENT_LANGUAGE)</string>

    <!-- اسم التطبيق الداخلي -->
    <key>CFBundleName</key>
    <string>my_project</string>

    <!-- النوع -->
    <key>CFBundlePackageType</key>
    <string>APPL</string>

    <!-- التوقيع -->
    <key>CFBundleSignature</key>
    <string>????</string>

    <!-- الملف التنفيذي -->
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>

    <!-- إصدار InfoDictionary -->
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>

    <!-- صلاحية المايكروفون للـ voice search -->
    <key>NSMicrophoneUsageDescription</key>
    <string>We need access to your microphone for voice search.</string>
</dict>
</plist>
